@{
    ViewData["Title"] = "Tìm kiếm";
}

<div class="container">
    <h2>Tìm kiếm Hàng hóa</h2>
    <div>
        Tìm theo tên: <input id="TenHhSearch" />
    </div>
    <div>
        Giá từ: <input type="number" id="GiaTu" />
        đến: <input type="number" id="GiaDen" />
        <button id="btnTimKiem">Tìm kiếm</button>
    </div>
</div>
<h2>Kết quả</h2>
<table class="table table-condensed">
    <thead>
        <tr>
            <th>STT</th>
            <th>Hình</th>
            <th>Tên hàng hóa</th>
            <th>Đơn giá</th>
            <th>Loại</th>
        </tr>
    </thead>
    <tbody id="content"></tbody>
</table>
@section Scripts{ 
<script>
    $(function () {
        $("#btnTimKiem").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Ajax/JsonSearch",
                type: "post",
                data: {
                    TenHh: $("#TenHhSearch").val(),
                    GiaTu: $("#GiaTu").val(),
                    GiaDen: $("#GiaDen").val()
                },
                dataType: "json",
                success: function (responses) {
                    $("#content").html("");
                    $(responses).each(function (index, element) {
                        //console.log(element.tenHh);
                        let tr = $("<tr/>");
                        $("<td/>").html(index + 1).appendTo(tr);
                        //$("<td/>").html("<img src='../../Hinh/HangHoa/" + element.hinh + "'  height='80' />").appendTo(tr);
                        $("<td/>").html("<img src='data:image/png;base64, " + element.hinh + "'  height='80' />").appendTo(tr);
                        $("<td/>").html(element.tenHh).appendTo(tr);
                        $("<td/>").html(element.donGia).appendTo(tr);
                        $("<td/>").html(element.tenLoai).appendTo(tr);

                        tr.appendTo($("#content"));
                        //$("#content").append(tr);
                    });
                },
                error: function (xhr) {}
            });
        });
    });
</script>
}
