
@{
    ViewData["Title"] = "Index";
}

<h1>Máy tính</h1>
<form>
    <input name="ToanHang1" placeholder="Số thứ 1" type="number" />
    <select name="PhepToan">
        <option value="+">+</option>
        <option value="-">-</option>
        <option value="*">x</option>
        <option value="/">/</option>
        <option value="^">^</option>
        <option value="%">%</option>
    </select>
    <input name="ToanHang2" placeholder="Số thứ 2" type="number" />
    <button>=</button>
    <input class="disabled" placeholder="Kết quả" />
</form>

