@model MyProject.DataModels.Loai

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Loai</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenLoai" class="control-label"></label>
                <input asp-for="TenLoai" class="form-control" />
                <span asp-validation-for="TenLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaLoaiCha" class="control-label"></label>
                @*<select asp-for="MaLoaiCha" class ="form-control" asp-items="ViewBag.MaLoaiCha">
                        <option>---Không có loại cha---</option>
                    </select>*@
            <select name="MaLoaiCha" id="MaLoaiCha" class="form-control">
                <option>---Không có loại cha---</option>
                @{
                    var selectLoaiData = ViewBag.DataLoai as List<MyProject.DataModels.Loai>;

                    var level1 = selectLoaiData.Where(p => p.MaLoaiCha == null);
                    @foreach (var lv1 in level1)
                    {
                        var level2 = selectLoaiData.Where(p => p.MaLoaiCha == lv1.MaLoai).ToList();
                        <option value="@lv1.MaLoai">@lv1.TenLoai</option>
                        if (level2.Count > 0)
                        {
                            @foreach (var lv2 in level2)
                            {
                                var level3 = selectLoaiData.Where(p => p.MaLoaiCha == lv2.MaLoai).ToList();
            <option value="@lv2.MaLoai">|_____@lv2.TenLoai</option>
                                if (level3.Count > 0)
                                {
                                    @foreach (var lv3 in level3)
                                    {
            <option value="@lv3.MaLoai">|__________@lv3.TenLoai</option>

                                    }
                                }
                            }
                        }
                    }
                }
            </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
