
@{
    ViewData["Title"] = "Import Excel";
}

<h2>Import Excel</h2>
<form enctype="multipart/form-data" asp-action="ImportExcel">
    File: <input type="file" name="file" />
    <button>Import</button>
</form>

