
@{
    ViewData["Title"] = "_NewLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>_NewLayout</h1>

<div class="row">
    <div class="col-3 border">
        HHHH
    </div>
    <div class="col-9">
        @RenderBody()
    </div>
</div>

