
<form enctype="multipart/form-data"
      asp-action="UploadSingleFile">
    <h2>Upload Single file</h2>
    <input type="file" name="myfile" required />
    <button>Upload</button>
</form>

<form enctype="multipart/form-data"
      asp-action="UploadMultipleFile">
    <h2>Upload Multiple file</h2>
    <input type="file" name="myfile" multiple />
    <button>Upload</button>
</form>